.messages-footer {
  padding: 15px 14px;
  border-top: 2px solid #f2f3f5;
}

.messages-footer-text-input {
  font-size: 16px;
  font-weight: 550;
  line-height: 118.75%;
  width: 100%;
  border-radius: 6px;
  background: #e8e9ea;
  height: 50px;
  outline: none;
  padding: 5px 15px;
}

.messages-buttton {
  background-color: #215fff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  padding: 12px;
  width: 115px;
  border-radius: 10px;
}
